*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Heebo', sans-serif;
}

.container {  
  max-width: 1040px;
  margin: 0px auto;
}

.header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  margin-bottom: 30px;
}

.row {
  margin: 20px 0;
}

h1 {
  color: white;
  font-size: 2em;
}

.header input, .header button {
  width: 325px;
}

.header input {
  margin-bottom: 15px;
  font-size: 1em;
  height: 2em;
  padding: 5px;
}

button {
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: 'Heebo', sans-serif;
}

.header button {
  background-image:  linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
}

.floating-footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%)
}

.floating-footer button {
  background-color : #ec4c4c;
  border-color: #da4646;
}

/* Interesting Seamless & Response Photo Grid
CSS-Tricks: https://css-tricks.com/seamless-responsive-photo-grid/ */
#results {
  line-height:0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap:0px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  #results {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #results {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #results {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #results {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

#results img {
  width: 100%;
  height: auto;
}

#results img:first-child{
  border: 3px solid gold;
}